body {
  background: radial-gradient(circle farthest-corner at top, #f0f0f0 5em, #c6c6c6 60em);
  text-align: center;
  min-height: 100vh;
  display: block;
  font-family: sans-serif;
  padding: 1em;
  font-size: 1.2em;
  line-height: 120%;
}

.heading, .subheading {
  padding: 20px;
  color: black;
  text-align: center;
}

.subsubheading {
  padding: 5px;
  border-radius: 5px;
  background: #990000;
  margin: 1em 15vw;
  color: white;
}

.logo {
  height: 10em;
}

.avatar {
  margin: 2em 2em;
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .25), -5px 5px 5px rgba(0, 0, 0, .25);
  width: 128px;
  height: 128px;
}

.character-container {
  margin: 0 25vw;
  text-align: left;
  vertical-align: middle;
}

.character-avatar {
  margin: 0.5em 1em;
  border-radius: 5%;
  border: 5px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .25), -5px 5px 5px rgba(0, 0, 0, .25);
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.character-name-and-clan-container {
  display: inline-block;
  vertical-align: middle;
}

.character-clan-name {
  vertical-align: middle;
  display: block;
  text-align: left;
  font-size: 80%;
  color: #990000;
}

.character-name {
  vertical-align: middle;
  display: block;
  text-align: left;
  font-weight: bold;
}

a.faint, a.faint:hover {
    color: grey;
    line-height: 200%;
    font-size: 0.7em;
}

.blizzard-login-button {
  margin-top: 2em;
  background-color: rgb(14, 134, 202);
  border-color: rgb(16, 161, 222);
  border-style: solid;
  border-width: 1px;
  color: white;
  padding: 15px 15px;
  border-radius: 5px;
  min-width: 40vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  font-family: Blizzard-Light;
  transition-duration: 0.4s;
}

.blizzard-login-button:hover {
  background-color: rgb(16,148,222);
  color: white;
}

.blizzard-login-logo {
  max-height: 2em;
  vertical-align: middle;
}

@font-face {
  font-family: "Blizzard-Light";
  src: url("https://eu.battle.net/support/static/fonts/blizzard-light.32debac7.woff") format("woff");
}

.twitch-avatar {
  margin: 0.5em 1em;
  border-radius: 5%;
  border: 5px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .25), -5px 5px 5px rgba(0, 0, 0, .25);
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  background: #6441A4;
}
