.icon-btn{margin-top: 10px;}
.icon {display: inline-block;width: 5rem;height: 5rem;margin: 1rem;  }
.icon-choice {display: inline-block;width: 5rem;height: 5rem;}
.icon-selected {display: inline-block;width: 6rem;height: 6rem;}
.pointer {cursor: pointer;}
.modal-content {padding: 2rem}
#formfield-form-widgets-icon_id {position:relative;}
